{% extends 'landing_page/base.html' %}
{% load static %}

{% block body %}
    <section {% if task_id %}data-task-id="{{ task_id }}"{% endif %} class="hero-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="hero-content">
                        <h1>Article</h1>
                        {% include "landing_page/includes/input_form.html" %}

                        <div id="loading">
                            <h3 class="loader-text">Fetching data<span id="loader" class="loader"></span></h3>
                        </div>

                        {% include "landing_page/includes/error_message.html" %}

                        {% if error_message %}
                            <div id="error" class="card bg-danger" style="padding-top: 1.5rem; padding-bottom: 1rem;">
                                <div class="card-title text-center">
                                    <h3 class="text-black">
                                        Download error
                                    </h3>
                                    <h6>Make sure the URL is correct, no captcha security or the URL is for article</h6>
                                </div>
                            </div>
                        {% endif %}

                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Article title</h5>
                                <p class="card-text text-black">
                                    {% if title %}
                                        {{ title|safe }}
                                    {% else %}
                                        Output appear here if exist...
                                    {% endif %}
                                </p>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Article text</h5>
                                <p class="card-text text-black">
                                    {% if text_article %}
                                        {{ text_article|safe }}
                                    {% else %}
                                        Output appear here if exist...
                                    {% endif %}
                                </p>
                            </div>
                        </div>


                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Article publish date</h5>
                                <p class="card-text text-black">
                                    {% if publish_date %}
                                        {{ publish_date|safe }}
                                    {% else %}
                                        Output appear here if exist...
                                    {% endif %}
                                </p>
                            </div>
                        </div>


                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Article authors</h5>
                                <p class="card-text text-black">
                                    {% if authors %}
                                        {% for author in authors %}
                                            {{ author|safe }}
                                        {% endfor %}
                                    {% else %}
                                        Output appear here if exist...
                                    {% endif %}
                                </p>
                            </div>
                        </div>



                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Article reading time
                                </h5>
                                {% if time_read %}
                                    <p class="text-black">Time read: <b>{{ time_read }}</b> min</p>
                                {% else %}
                                    <p class="text-black">Output appear here if exist...</p>
                                {% endif %}
                            </div>
                        </div>



                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Images from article:
                                </h5>
                                {% if img_urls %}
                                    {% for url in img_urls %}
                                        <img
                                            src="{{ url }}"
                                            class="img-thumbnail"
                                            alt="Hollywood Sign on The Hill"
                                            width="150px;"
                                        />
                                    {% endfor %}
                                {% else %}
                                    <p class="text-black">Output appear here if exist...</p>
                                {% endif %}
                            </div>
                        </div>


                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Article summary</h5>
                                <p id="output" class="card-text text-black">
                                    {% if summary_article %}
                                        {{ summary_article }}
                                    {% else %}
                                        Output appear here if exist...
                                    {% endif %}
                                </p>
                            </div>
                        </div>


                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Article meta description</h5>
                                <p class="card-text text-black">
                                    {% if meta_description %}
                                        {{ meta_description|safe }}
                                    {% else %}
                                        Output appear here if exist...
                                    {% endif %}
                                </p>
                            </div>
                        </div>


                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Article meta keywords</h5>
                                <p class="card-text text-black">
                                    {% if meta_keywords %}
                                        {{ meta_keywords|safe }}
                                    {% else %}
                                        Output appear here if exist...
                                    {% endif %}
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/check-task-status.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function ()
            {
                let heroSection = document.querySelector('.hero-area');
                let taskId = heroSection.getAttribute('data-task-id');

                let formButton = document.getElementById('fetch-data');

                formButton.addEventListener('click', function() {
                    document.getElementById('loading').style.display = 'block';
                })


                if (taskId) {
                {#console.log('Task ID:', taskId);#}
                    let baseUrl = "{{ request.scheme }}://{{ request.get_host }}";
                    let fullUrl = baseUrl + '/task-id/' + taskId;

                    document.getElementById('loading').style.display = 'block';
                    let h3Element = document.querySelector('h3.loader-text');
                    h3Element.innerHTML = 'Still fetching data<span id="loader" class="loader"></span>';
                    checkTaskStatus(taskId, fullUrl);
                } else {
                {#console.log('No task ID found.');#}
                }
            })
    </script>
{% endblock %}