{% extends 'landing_page/base.html' %}
{% load static %}

{% block body %}
    <section {% if task_id %}data-task-id="{{ task_id }}" {% endif %} class="hero-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="hero-content">
                        <h1>Facebook</h1>
                        {% include "landing_page/includes/input_form.html" %}


                       <div id="loading">
                            <h3 class="loader-text">Fetching data<span id="loader" class="loader"></span></h3>
                        </div>

                        {% include "landing_page/includes/error_message.html" %}


                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Facebook post</h5>
                                <p id="output" class="card-text text-black">
                                    {% if post_to_facebook %}
                                        {{ post_to_facebook }}
                                    {% else %}
                                        Your output appear here...
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function ()
        {
            let heroSection = document.querySelector('.hero-area');
            let taskId = heroSection.getAttribute('data-task-id');

            if (taskId) {
                console.log('Task ID:', taskId);
                document.getElementById('loading').style.display = 'block';
                checkTaskStatus(taskId);
            } else {
                console.log('No task ID found.');
            }

        })

    function checkTaskStatus(taskId)
    {
        let baseUrl = "{{ request.scheme }}://{{ request.get_host }}";
        let fullUrl = baseUrl + '/task-id/' + taskId;

        let checkInterval = setInterval(function () {
            fetch(fullUrl)
                .then(response => response.json())
                .then(data => {
                    console.log("Task status", data.status);

                    if (data.status === 'SUCCESS') {
                        // Stop checking
                        document.getElementById('loading').style.display = 'none';

                        clearInterval(checkInterval);
                        document.getElementById("output").innerText = data.result;
                        console.log('Task Result:', data.result);

                    } else if(data.status === 'FAILURE')
                    {
                        document.getElementById('loading').style.display = 'none';
                        document.getElementById("output").innerText = "Something go wrong, check again...";
                    }
            })
            .catch(error => console.error('Error:', error ));
        }, 3000);
    }
    </script>
{% endblock %}
