{% extends 'landing_page/base.html' %}
{% load static %}

{% block body %}


    <section class="hero-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="hero-content">
                        <h4>Package tailored to your needs</h4>
                        <h1>Sum<span class="text-dark">Media</span>, specifically focused on automatic extraction</h1>
                        <p>Package a plugin integrated with the ChatGPT API, published on PyPI. The plugin enables various functionalities related to news content personalization and categorization.
                        </p>
                        <div class="button">
                            <a href="https://github.com/Sebastvin/engineer-demo" class="btn ">Try here</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <div class="hero-image wow fadeInRight" data-wow-delay=".4s">
                        <img class="main-image" src="{% static 'img/logo.png' %}" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="services section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s">What package can offer</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Package Capabilities</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">
                            There are many ways in which you can use the package...
                            <br>
                            below are some examples
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s">
                    <a href="{% url 'twitter' %}">
                        <div class="single-service gradient">
                            <div class="main-icon square-gradient">
                                <i class="fa-brands fa-square-x-twitter" style="color: black;"></i>
                            </div>
                            <h3 class="text-title">Twitter</h3>
                            <p>Provide the URL to the article and receive a ready tweet/X's!</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s">
                    <a href="{% url 'article' %}">
                        <div class="single-service gradient">
                            <div class="main-icon square-gradient">
                                <i class="fa-solid fa-newspaper" style="color: #000000;"></i>
                            </div>
                            <h3 class="text-title">Article</h3>
                            <p>Provide the URL to the article and get the most important information from it!</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".6s">
                    <a href="{% url 'text' %}">
                        <div class="single-service gradient">
                            <div class="main-icon square-gradient">
                                <i class="fa-solid fa-file-lines" style="color: #000000;"></i>
                            </div>
                            <h3 class="text-title">TEXT</h3>
                            <p>Explore the given text in multiple ways!</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s">
                    <a href="{% url 'facebook' %}">
                        <div class="single-service gradient">
                            <div class="main-icon square-gradient">
                                <i class="fa-brands fa-facebook-f" style="color: #000000;"></i>
                            </div>
                            <h3 class="text-title">Facebook</h3>
                            <p>Provide the URL to the article and receive a ready post!</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s">
                    <a href="{% url 'translate_text' %}">
                        <div class="single-service gradient">
                            <div class="main-icon square-gradient">
                                <i class="fa-solid fa-language" style="color: #000000;"></i>
                            </div>
                            <h3 class="text-title">Translator</h3>
                            <p>Translate the text!</p>
                        </div>
                    </a>
                </div>


                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".6s">
                    <a href="{% url 'summary_text' %}">
                        <div class="single-service gradient">
                            <div class="main-icon square-gradient">
                                <i class="fa-solid fa-list" style="color: #000000;"></i>
                            </div>
                            <h4 class="text-title">Summary</h4>
                            <p>Summarize the given article!</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
