{% extends 'landing_page/base.html' %}
{% block body %}
  <section class="hero-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="hero-content">
            <h1>Social media</h1>



            <div class="row text-center">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <a href="/facebook">Facebook</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <a href="/twitter">Twitter</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}