{% extends 'landing_page/base.html' %}
{% block body %}
  <section class="hero-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="hero-content">
            <h1>Social media</h1>

            <div class="row text-center">
              <div class="col-lg-6 col-12 mt-5 h-100">
                <div class="card social-gradient ">
                  <div class="card-body m-5">
                    <h3><a href="/facebook" class="stretched-link">Facebook</a></h3>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-12 mt-5 h-100">
                <div class="card social-gradient">
                  <div class="card-body m-5">
                    <h3><a href="/twitter" class="stretched-link"> X (Twitter)</a></h3>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}