{% extends 'landing_page/base.html' %}
{% load static %}

{% block body %}
    <section  {% if task_id %}data-task-id="{{ task_id }}"{% endif %} class="hero-area">
        <div class="container">
            <div class="hero-content">
                <h1>{{ title }}</h1>

                <form method="post">
                    {% csrf_token %}
                    <p>Enter text</p>
                    {% for field in text_form %}
                        {{ field.errors }}
                        {{ field }}
                    {% endfor %}

                    {% if numeric_form %}
                        <p>Enter words number, the result of the model will oscillate in this number of words</p>
                        {% for field in numeric_form %}
                            {{ field.errors }}
                            {{ field }}
                        {% endfor %}
                    {% endif %}

                    {% if language_form %}
                        <p>Choose language to translate</p>
                        {% for field in language_form %}
                            {{ field.errors }}
                            {{ field }}
                        {% endfor %}
                    {% endif %}

                    {% if complexity_form %}
                        <p>Select level of complexity:</p>
                        {% for field in complexity_form %}
                            {{ field.errors }}
                            {{ field }}
                        {% endfor %}
                    {% endif %}

                    <br />
                    <button id="fetch-data" type="submit" class="btn btn-success mt-3">Fetch Data</button>
                </form>

                <div id="loading">
                    <h3 class="loader-text">Fetching data<span id="loader" class="loader"></span></h3>
                </div>


                {% include "landing_page/includes/error_message.html" %}

                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ title }}
                        </h5>
                        <p id="output" class="card-text text-black">
                            Your output appear here...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/check-task-status.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function ()
            {
                let heroSection = document.querySelector('.hero-area');
                let taskId = heroSection.getAttribute('data-task-id');

                if (taskId) {
                {#console.log('Task ID:', taskId);#}
                    let baseUrl = "{{ request.scheme }}://{{ request.get_host }}";
                    let fullUrl = baseUrl + '/task-id/' + taskId;

                    document.getElementById('loading').style.display = 'block';
                    checkTaskStatus(taskId, fullUrl);
                } else {
                {#console.log('No task ID found.');#}
                }
            })
    </script>
{% endblock %}