{% extends 'landing_page/base.html' %}
{% load static %}

{% block body %}
    <section class="hero-area">
        <div class="container">
            <div class="hero-content">
                <h1>{{ title }}</h1>

                <form method="post">
                    {% csrf_token %}
                    <p>Enter text</p>
                    {% for field in text_form %}
                        {{ field.errors }}
                        {{ field }}
                    {% endfor %}

                    {% if numeric_form %}
                        <p>Enter words number</p>
                        {% for field in numeric_form %}
                            {{ field.errors }}
                            {{ field }}
                        {% endfor %}
                    {% endif %}

                    <button id="fetch-data" type="submit" class="btn btn-success" >Fetch Data</button>
                </form>

                <div id="loading">
                    <h3 class="loader-text">Fetching data<span id="loader" class="loader"></span></h3>
                </div>


                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ title }}
                        </h5>
                        {% if output %}
                            <p class="text-black">{{ output }}</p>
                        {% else %}
                            <p class="text-black">Your output appear here...</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/loading.js' %}"></script>
{% endblock %}