{% extends 'landing_page/base.html' %}
{% load static %}

{% block body %}
    <section class="hero-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="hero-content">


                        <h1>Twitter</h1>
                        {% include "landing_page/includes/input_form.html" %}


                        <div id="loading">
                            <h3 class="loader-text">Fetching data<span id="loader" class="loader"></span></h3>
                        </div>

                        {% include "landing_page/includes/error_message.html" %}

                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Condensed tweet/X's</h5>
                                <p class="card-text text-black">
                                    {% if condense_text_to_tweet %}
                                        {{ condense_text_to_tweet }}
                                    {% else %}
                                        Your output appear here...
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/loading.js' %}"></script>
{% endblock %}