<footer class="footer">
    <div class="copyright-area">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <p class="copyright-text">© 2023 <a href="https://github.com/Sebastvin">Sebastvin</a> - All Rights Reserved</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        This web page serves as a demonstration of the <a href="https://pypi.org/project/summedia/" style="color: #5784f5;">SumMedia</a> package,
                        showcasing its features and capabilities interactively.
                        Please note that this is a demonstration only and not intended for production use.
                        Your <a href="https://github.com/Sebastvin/summedia/issues" style="color: #5784f5;">feedback</a> is invaluable in helping me improve. Explore and enjoy!
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                        <p class="copyright-owner">Template was inspired by <a href="https://uideck.com/"
                                                                               rel="nofollow" target="_blank">UIdeck</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>